body {
  background-color: #0a5f40;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Rubik", sans-serif;
  float: center;
}

h1 {
  font-size: 64px;
  margin-left: 100px;

  color: #ffffff;
}

p {
  margin-top: 0;
}

.scroll-box {
  align-content: right;
  margin: 0 0 0 950px;
  width: 100%;
  height: 1000px;
  position: fixed;
  top: 0;
  left: 0;
}

.header-box {
  font-family: "Barlow Condensed", sans-serif;

  text-shadow: 1px 2px 4px #000000;
  background-color: #008542;
  margin: 0px 300px 0 -5px;
  width: 100%;
  padding: 1px;
  border-style: groove;
  border-width: 4px;
  border-color: #0a5f40;
  border-radius: 8px;
}

.main-box {
  background-color: #ffffff;
  margin: 20px;
  padding-bottom: 40px;
  box-shadow: 5px 5px 8px #000000;
  border-radius: 8px;
  vertical-align: middle;
}

.main-color-box {
  background-color: rgba(157, 238, 216, 0.1);

  height: 100%;
  border-radius: 8px;
}

.calendar-frame {
  border: solid 1px #777;
  width: 95%;
  height: 640px;
  margin: 8px;
}

.content {
  vertical-align: middle;
  position: relative;
  padding: 40px;
  font-size: 24px;
  margin: 36px;
  background-color: #ffffff;
  width: 32%;
  border-width: 1px;
  box-shadow: 5px 5px 8px #496b49;
  border-color: #0a5f40;
  max-width: 45%;
  display: inline-block;
  border-style: solid;
}

.content-button {
  width: 30%;
  height: 50px;
  margin-left: 4px;
  margin-top: 4px;
  padding: 1px;
  background-color: #008542;
  font-family: "Rubik", sans-serif;

  border: 0;
  font-size: 14px;
  border-width: 1px;
  border-color: #0a5f40;
  color: #ffffff;
}

.content-button:hover {
  cursor: pointer;
}

.content-text {
  white-space: nowrap;
}

.content-select {
  margin-left: 12px;
  height: 20px;
  width: 200px;
}

.filters {
  float: right;
  margin-right: 40px;
}

.filters-selected {
  background-color: #008542;
  color: #ffffff;
}

.lesson-filters {
  display: inline;
  padding: 8px 16px;

  margin-left: 36px;
}

.lesson-filters:hover {
  cursor: pointer;
}

.no-content {
  max-width: 80%;
  width: 80%;
}

.navicon-container {
  display: none;
  width: 40%;
  text-align: right;
}

.button-link {
  text-decoration: none;
}

@media only screen and (max-width: 700px) {
  body {
    max-width: 500px;
  }

  .lesson-filters {
    display: inline-block;
    margin-left: 8px;
  }

  h1 {
    margin-left: 12px;
    font-size: 48px;
  }

  .content {
    margin: 16px;
    padding: 20px;
    width: 100%;
    max-width: 80%;
  }

  .scroll-box {
    display: none;
  }

  .content-button {
    width: 80px;
    height: 80px;
  }

  .navicon-container {
    display: inline-block;
    width: 20%;
  }

  .calendar-frame {
    width: 95%;
  }
}

@media only screen and (min-width: 701px) and (max-width: 780px) {
  .scroll-box {
    display: none;
  }

  .content {
    margin: 6px;
    width: 30%;
  }
  .navicon-container {
    display: inline-block;
    width: 25%;
  }
}

@media only screen and (min-width: 781px) and (max-width: 940px) {
  .scroll-box {
    display: none;
  }

  .content {
    margin: 24px;
    width: 30%;
  }

  .navicon-container {
    display: inline-block;
    width: 30%;
  }
}

@media only screen and (min-width: 941px) and (max-width: 1280px) {
  .main-box {
    width: 900px;
  }
}

.close-content {
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  font-size: 8px;
  height: 30px;
  width: 30px;
  padding: 0;
  margin: 0;
}

.content-details {
  font-size: 0.6em;
  text-align: right;
}

.content-details-left {
  text-align: left;
}

.content-details-border {
  border: solid 1px #0a5f40;
  margin: 6px;
  padding: 8px;
}

.account-form {
  background-color: #08975b;
  width: 50%;

  padding: 32px;
  padding-top: 16px;
  margin: auto;
  margin-top: 12px;

  text-align: center;

  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  box-shadow: 4px 4px 8px black;
  transition: height 0.5s, margin-top 0.4s;
}

.calendar-button {
  margin-top: 12px;
  height: 30px;
  width: 180px;
}

.submit-button {
  margin-top: 12px;
}

.hidden {
  display: none;
}

.scroll-box-mobile {
  padding: 24px;
  height: 100%;
  background-color: #0a5f40;
}
