.student-input-text {
  background-color: white;
  border: 1px solid #0a5f40;
  height: 38px;
  width: 150px;
  padding-left: 8px;
  padding: 6px;

  font-size: 16px;
  margin: auto;
  margin-top: 12px;
  color: black;
}

.calendar-button {
  margin-top: 12px;
  height: 30px;
  width: 180px;
}

.submit-button {
  margin-top: 12px;
}

.input-error-text {
  font-size: 0.5em;
  color: red;
  margin: 4px;
}

.input-error-text:empty {
  height: 0;
  margin: 0;
}
